header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: 600;
}

.panel {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: aqua;
}
.panel-b-top {
  background-color: aqua;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
}
.panel-b-bottom {
  background-color: aqua;
  height: 50vh;
  position: fixed;
  bottom: 0;
  right: 0;
}

.panel-c-left,
.panel-c-right {
  width: 50%;
  position: fixed;
  background-color: aqua;
}
.panel-c-left {
  left: 0;
  bottom: 0;
}

.panel-c-right {
  right: 0;
  top: 0;
}

.panel-d {
  position: fixed;
  background-color: aqua;
  transform-origin: center center;
  border-radius: 50%;
}

.panel-e{
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
